DATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/homepath_ie?retryWrites=true&w=majority&appName=Demo"
NEXTAUTH_SECRET="your-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
